<body>

  <div id="procedure">
    <h1 id="procedure-title">{{title}}</h1>
    <div id="procedure-instructions">
      {{instructions}}
    </div>
    <div id="procedure-interaction">
      <div id="grid">
        <div class="column">
          {{#view Circsim.contentViews.drView tagName="div" class="header"}}
            {{content.header}}            
          {{/view}}          
          {{collection Circsim.contentViews.drCellsView tagName="div" class="cell-group" itemClass="cell"}}
        </div>
        <div class="column">
          {{#view Circsim.contentViews.rrView tagName="div" class="header"}}
            {{content.header}}            
          {{/view}}          
          {{collection Circsim.contentViews.rrCellsView tagName="div" class="cell-group" itemClass="cell"}}
        </div>
        <div class="column">
          {{#view Circsim.contentViews.ssView tagName="div" class="header"}}
            {{content.header}}            
          {{/view}}          
          {{collection Circsim.contentViews.ssCellsView tagName="div" class="cell-group" itemClass="cell"}}
        </div>

      </div>
      <div id="procedure-messages">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies molestie bibendum. Ut tincidunt scelerisque ligula vel faucibus. Pellentesque vitae felis ac elit dictum rhoncus. Praesent lacus mauris, laoreet non interdum quis, vestibulum ac tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac ipsum enim, sed placerat metus. In eu sapien elit, ac imperdiet dui. Proin tempus dui et massa molestie venenatis luctus quam blandit. In urna nunc, consectetur blandit venenatis sit amet, dignissim varius turpis. Quisque ligula justo, dictum quis convallis ac, interdum eget lectus</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies molestie bibendum. Ut tincidunt scelerisque ligula vel faucibus. Pellentesque vitae felis ac elit dictum rhoncus. Praesent lacus mauris, laoreet non interdum quis, vestibulum ac tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac ipsum enim, sed placerat metus. In eu sapien elit, ac imperdiet dui. Proin tempus dui et massa molestie venenatis luctus quam blandit. In urna nunc, consectetur blandit venenatis sit amet, dignissim varius turpis. Quisque ligula justo, dictum quis convallis ac, interdum eget lectus</p>        
      </div>
    </div>
  </div>
</body>